@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Telephone:</abbr>
    1777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jordan.sanogo@cushabitat.fr">jordan.sanogo@cushabitat.fr</a><br />
</address>