@using GestionDeStockCusHabitat.Models
@model System.Collections.Generic.List<GestionDeStockCusHabitat.Models.Utilisateur>

@{
    ViewBag.Title = "Utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Utilisateurs</h2>
@if (!Model.Any())
{
    <p>Pas d'utilisateur présent.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var utilisateur in Model)
        {
            <tr>
                <td>@Html.ActionLink(utilisateur.Nom, "Details", "Utilisateurs", new {id = utilisateur.Id}, null)</td>
                <td>@Html.ActionLink(utilisateur.Prenom, "Details", "Utilisateurs", new {id = utilisateur.Id}, null)</td>
                <td>@Html.ActionLink(utilisateur.Email, "Details", "Utilisateurs", new {id = utilisateur.Id}, null)</td>
            </tr>
        }
        </tbody>
    </table>
}
