
@model GestionDeStockCusHabitat.Models.Utilisateur
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nouvelle utilisateur</h2>

@using (Html.BeginForm("Create", "Utilisateurs"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nom)
        @Html.TextBoxFor(m => m.Nom, new {@class = "form-control"})
    </div>
}

