@model GestionDeStockCusHabitat.ViewModel.EntreeViewModel

@{
    ViewBag.Title = "Entree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entree</h2>
@using (Html.BeginForm("Create", "Entree"))
{
    <div class="form-group">
        @Html.LabelFor(a=>a.NomArticle)
        @Html.DropDownListFor(a => a.NomArticle, Model.ArticleList, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.QteArticle)
        @Html.TextBoxFor(a => a.QteArticle, new { @class = "form-control", pattern=@"\d{*}" })
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
}